<header>
    <nav class="dark:from-black dark:shadow-md dark:shadow-orange-200 dark:to-black bg-gradient-to-r from-orange-200 to-orange-500 p-4 mb-4 flex justify-between">
        <ul>
            <li>
                <span class="px-4 py-2 text-white text-xl font-bold rounded-xl bg-orange-500">T</span>
                <span class="ms-1 text-xl font-bold bg-gradient-to-r from-orange-500 to-orange-800 bg-clip-text text-transparent">Talabat</span>
            </li>
        </ul>
        <ul class="flex space-x-5 items-center dark:text-white font-bold">
            <li>
                <button class="cursor-pointer h-8 w-8 rounded-full bg-orange-300 text-black">AS</button>
            </li>
        </ul>
    </nav>
</header>

<Main class="flex dark:bg-black dark:text-white flex-col lg:flex-row">
    <div class="lg:sticky lg:top-5 relative w-full lg:h-screen lg:w-1/6 dark:bg-black dark:shadow-md dark:shadow-orange-200 bg-orange-50 p-4">
        <ul class="space-y-5">
            <li>
                <label for="search-product">Search Products</label>
                <div class="relative">
                    <span class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-400"><i class="fa-solid fa-magnifying-glass"></i></span>
                    <input type="search" id="search-product" name="products" [(ngModel)]="search" class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent outline-none transition-all duration-200 placeholder-gray-400" placeholder="Search Products...">
                </div>
            </li>
            <li>
                <label for="filter-select">Sort Products</label>
                <div class="relative">
                    <span class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-400"><i class="fa-solid fa-sort"></i></span>
                    <select name="filter" id="filter-select" [(ngModel)]="sortMechanism" (change)="SortProducts()" class="w-full pl-10 border border-gray-300 rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-500 focus:border-transparent outline-none">
                        <option value="" disabled selected>--Please Choose a Filter--</option>
                        <option [value]="SortByEnum.Price">Price</option>
                        <option [value]="SortByEnum.Name">Name</option>
                    </select>
                </div>
            </li>
            <li>
                <button (click)="SearchForProducts()" class="bg-gradient-to-r from-orange-300 to-orange-500 py-2 w-full rounded-full text-white text-xl shadow-lg cursor-pointer font-bold">Apply Filters</button>
            </li>
            <li *ngIf="sortMechanism">
                Sort Direction:
                <button class="cursor-pointer" (click)="ChangeSortDirection()">
                    @if(sortMechanism == SortByEnum.Price){
                        @if(sortDirection() == sortDirectionEnum.up){
                            <i class="fa-solid fa-arrow-up-1-9"></i>
                        }
                        @else {
                            <i class="fa-solid fa-arrow-down-1-9"></i>
                        }
                    }
                    @else if(sortMechanism == SortByEnum.Name) {
                        @if(sortDirection() == sortDirectionEnum.up){
                            <i class="fa-solid fa-arrow-up-a-z"></i>
                        }
                        @else {
                            <i class="fa-solid fa-arrow-down-a-z"></i>
                        }
                    }
                </button>
            </li>
        </ul>
        <ul class="my-5 flex flex-wrap">
            <li *ngIf="search() !== ''" class="relative rounded-full bg-orange-300 pl-3 pr-6 m-0.5">
                Search By: "{{search()}}"
                <button (click)="ResetSearchFilter()" class="absolute right-2 top-1/2 -translate-y-1/2 cursor-pointer"><i class="fa-solid text-red-900 fa-circle-xmark"></i></button>
            </li>
            <li *ngIf="sortMechanism" class="relative rounded-full bg-orange-300 pl-3 pr-6 m-0.5">
                Sort By: "{{sortMechanism == SortByEnum.Price ? 'Price' : 'Name'}}"
                <button (click)="ResetSortMechanismFilter()" class="absolute right-2 top-1/2 -translate-y-1/2 cursor-pointer"><i class="fa-solid text-red-900 fa-circle-xmark"></i></button>
            </li>
        </ul>
    </div>
    <div class="p-4 transition-all duration-500 ease-in-out" [ngClass]="{'grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4' : filteredList().length != 0, 'w-full lg:w-[calc(100%-16.666667%-20%)]' : toggleCartSignal(), 'w-full lg:w-[calc(100%-16.666667%)]' : !toggleCartSignal()}">
        @for(product of filteredList() ; track $index){
            <div class="flex flex-col group transition hover:-translate-y-1">
                <div class="relative">
                    <button (click)="_productService.ToggleIsLoved(product)" class="absolute top-5 left-5 text-red-500 text-xl cursor-pointer">
                        <i [class]="product.IsLoved() ? 'fa-solid fa-heart' : 'fa-regular fa-heart'"></i>
                    </button>
                    <img [src]="product.productImages[product.currentImageIndex()].image" (error)="_productService.HandleImageError($event)" (click)="GoToProductDetailsPage(product.id)" [alt]="product.name" class="block w-full object-contain cursor-pointer">
                    <button (click)="showPreviousImage($index)" class="absolute top-1/2 -translate-y-1/2 left-5 bg-orange-500 rounded-full w-8 h-8 flex items-center justify-center cursor-pointer"><i class="fa-solid fa-chevron-left"></i></button>
                    <button (click)="showNextImage($index)" class="absolute top-1/2 -translate-y-1/2 right-5 bg-orange-500 rounded-full w-8 h-8 flex items-center justify-center cursor-pointer"><i class="fa-solid fa-chevron-right"></i></button>
                </div>
                <div class="p-2 pb-4 border rounded-b-2xl grow flex flex-col justify-between">
                    <h3 class="text-2xl font-bold">{{product.name}}</h3>
                    <button class="rounded-lg border px-3 py-1 cursor-pointer" (click)="AddToCart(product.id)">Add To Cart</button>
                </div>
            </div>
        }
        @empty {
            <div class="text-center py-12 px-6 bg-gray-50 rounded-lg shadow-md max-w-sm mx-auto my-8">
                <i class="fas fa-frown text-6xl text-gray-400 mb-4"></i>
                <p class="text-xl font-semibold text-gray-800 mb-2">Sorry, no results found!</p>
                <p class="text-gray-600 mb-6">Try adjusting your search terms or filters.</p>
                <button class="bg-orange-400 hover:bg-orange-600 text-white font-bold py-3 px-6 rounded-lg shadow-md transition duration-300 ease-in-out cursor-pointer"
                (click)="ClearFilters()">
                    Clear All Filters
                </button>
            </div>
        }
    </div>
    <div>
        <button
            class="fixed top-1/2 -translate-y-1/2 right-4 bg-orange-500 text-white p-3 rounded-full hover:bg-orange-600 transition-all duration-500 ease-in-out cursor-pointer z-50"
            [ngClass]="toggleCartSignal() ? 'right-69' : '-right-0 translate-x-5'"
            (click)="toggleCart()"><i class="fas fa-shopping-cart text-xl"></i>
        </button>
        <div class="fixed top-20 bottom-0 transition-all duration-500 ease-in-out w-73 dark:bg-black dark:shadow-md dark:shadow-orange-200 bg-orange-50 shadow-xl p-4 overflow-auto" [ngClass]="toggleCartSignal() ? 'right-0' : '-right-80'">
            <h3 class="font-bold text-orange-500 text-xl">User Cart</h3>
            <div class="p-4 h-full">
                @for(product of userCartOfProducts() ; track $index){
                    <div class="flex items-center gap-4 p-4 border-b">
                        <div class="w-24 h-24 flex-shrink-0">
                            <img [src]="product.product.productImages[product.product.currentImageIndex()].image" (error)="_productService.HandleImageError($event)" [alt]="product.product.name" class="w-full h-full object-contain rounded">
                        </div>
                        <div>
                            <h3>{{product.product.name}}</h3>
                            <h3>{{product.product.price | currency}}</h3>
                            <h3>Count: {{product.productCount}}</h3>
                            <div class="space-x-1">
                                <button (click)="AddToCart(product.product.id)" class="px-2 py-1 bg-green-500 text-white rounded hover:bg-green-600 rounded-full cursor-pointer"><i class="fas fa-plus"></i></button>
                                <button (click)="RemoveProductFromCart(product.product.id)" class="px-2 py-1 bg-red-500 text-white rounded hover:bg-red-600 rounded-full cursor-pointer"><i class="fas fa-minus"></i></button>
                            </div>
                        </div>
                    </div>
                }
                @empty{
                    Cart is Empty
                }
            </div>
        </div>
    </div>
</Main>
<ngx-spinner name="primary" [fullScreen]="true" type="ball-scale-multiple" color="#ff9348"></ngx-spinner>